//mermaid.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.eb23c8e5-0a14-41df-8607-e73072a6be4f/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@tutorial-to-do-application:registry=https://mermaid.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.eb23c8e5-0a14-41df-8607-e73072a6be4f/contents/release/npm/
